In [24]:
import tweepy as tw
import pandas as pd

In [25]:
!pip install tweepy

Requirement already satisfied: tweepy in c:\users\joao1\anaconda3\lib\site-packages (4.12.1)
Requirement already satisfied: oauthlib<4,>=3.2.0 in c:\users\joao1\anaconda3\lib\site-packages (from tweepy) (3.2.2)
Requirement already satisfied: requests<3,>=2.27.0 in c:\users\joao1\anaconda3\lib\site-packages (from tweepy) (2.28.1)
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in c:\users\joao1\anaconda3\lib\site-packages (from tweepy) (1.3.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\joao1\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\joao1\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\joao1\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\joao1\anaconda3\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2022.9.14)

In [26]:
bearer_token = 'AAAAAAAAAAAAAAAAAAAAAE%2BmlgEAAAAAIbo38o16uMkHJiloPCF9gdKmmhM%3DO3QZZUUcPxUcNn1P165I2L0sk7rw3dZLaIVEn0XHKE8Pr5RmlQ'
consumer_key = 'HX1LrjZ0z4P3yMrmnlilQU3H3'
consumer_secret = 'bo7jZHVr80w0GDPcPrLEfSRSi6qIxq6IQlH4bhqMBijjZujtw0'
access_token = '1622418810568318979-kw1ylIG7haNjRtCRWsWKt9f5BR3t14'
access_token_secret ='CDZXpM36PVS3nYTjv1ZZO48g8UWk7ghXzAKkkb95hcU9a'

In [27]:
cliente = tw.Client(bearer_token=bearer_token, consumer_key=consumer_key, consumer_secret=consumer_secret, access_token=access_token, access_token_secret=access_token_secret)

In [28]:
start_time = '2023-02-01T01:00:01'
end_time = '2023-02-06T12:03:01'

In [29]:
resposta = cliente.search_recent_tweets(query = 'BBB',max_results = 100 )

In [30]:
dados = resposta.data

In [31]:
dados[0].text

'BBB 23: Cris, filho de Fred, dança ao ouvir música cantada por ele no confessionário e encanta seguidores https://t.co/1J2zz7031k'

In [32]:
base = []

In [33]:
for i in dados:
    
    linha = [0 for j in range(23)]
    
    linha[0] = i.text
    
    texto = i.text
    
    if ('RT' in texto):
        posicao = texto.find(':')
        texto = texto[posicao+2:]
        linha[22] = 1
        
    linha[1] = 1 if ('bruna Griphao' in texto.lower() or 'bruna' in texto.lower() or 'griphao' in texto.lower()) else 0
    linha[2] = 1 if ('cezar' in texto.lower() or 'bruna' in texto.lower() or 'griphao' in texto.lower()) else 0
    linha[3] = 1 if ('gustavo' in texto.lower() or 'bruna' in texto.lower() or 'griphao' in texto.lower()) else 0
    linha[4] = 1 if ('fred ' in texto.lower() or 'bruna' in texto.lower() or 'griphao' in texto.lower()) else 0
    linha[5] = 1 if ('larissa' in texto.lower() or 'bruna' in texto.lower() or 'griphao' in texto.lower()) else 0
    linha[6] = 1 if ('ricardo' in texto.lower() or 'bruna' in texto.lower() or 'griphao' in texto.lower()) else 0
    linha[7] = 1 if ('domitila Barros' in texto.lower() or 'bruna' in texto.lower() or 'griphao' in texto.lower()) else 0
    linha[8] = 1 if ('antonio "Cara de Sapato" Jr.' in texto.lower() or 'bruna' in texto.lower() or 'griphao' in texto.lower()) else 0
    linha[9] = 1 if ('sarah Aline' in texto.lower() or 'bruna' in texto.lower() or 'griphao' in texto.lower()) else 0
    linha[10] = 1 if ('fred Nicácio' in texto.lower() or 'bruna' in texto.lower() or 'griphao' in texto.lower()) else 0
    linha[11] = 1 if ('key Alves' in texto.lower() or 'bruna' in texto.lower() or 'griphao' in texto.lower()) else 0
    linha[12] = 1 if ('marília ' in texto.lower() or 'bruna' in texto.lower() or 'griphao' in texto.lower()) else 0
    linha[13] = 1 if ('cristian' in texto.lower() or 'bruna' in texto.lower() or 'griphao' in texto.lower()) else 0
    linha[14] = 1 if ('marvvila' in texto.lower() or 'bruna' in texto.lower() or 'griphao' in texto.lower()) else 0
    linha[15] = 1 if ('bruno' in texto.lower() or 'bruna' in texto.lower() or 'griphao' in texto.lower()) else 0
    linha[16] = 1 if ('tina ' in texto.lower() or 'bruna' in texto.lower() or 'griphao' in texto.lower()) else 0
    linha[17] = 1 if ('paula ' in texto.lower() or 'bruna' in texto.lower() or 'griphao' in texto.lower()) else 0
    linha[18] = 1 if ('gabriel ' in texto.lower() or 'bruna' in texto.lower() or 'griphao' in texto.lower())else 0
    linha[19] = 1 if ('gabriel Santana' in texto.lower() or 'Santana' in texto.lower()) else 0
    linha[20] = 1 if ('amanda ' in texto.lower() or 'Amanda' in texto.lower() or 'Amanda' in texto.lower()) else 0
    linha[21] = 1 if ('mc guimê' in texto.lower() or 'guime' in texto.lower() or 'mc' in texto.lower()) else 0
    

    base.append(linha)

In [34]:
baseBBB = pd.DataFrame(base)
baseBBB.columns = ['texto','Amanda','MC Guimê','Gabriel Santana','Gabriel','Paula','Tina','Bruno','Marvvila','Cristian','Marília','Key Alves','Fred Nicácio','Sarah Aline','Antonio "Cara de Sapato" Jr','Domitila Barros','Ricardo','Larissa','Fred','Gustavo','Cezar','Bruna Griphao','RT']
display(baseBBB)

,texto,Amanda,MC Guimê,Gabriel Santana,Gabriel,Paula,Tina,Bruno,Marvvila,Cristian,...,Sarah Aline,"Antonio ""Cara de Sapato"" Jr",Domitila Barros,Ricardo,Larissa,Fred,Gustavo,Cezar,Bruna Griphao,RT
0,"BBB 23: Cris, filho de Fred, dança ao ouvir mú...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,RT @BondelleEnjoyer: Hello! Voting for NYLON B...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,RT @luscas: o vídeo do baby cris reagindo ao f...,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,"Amanda e minha favorita do bbb, é isto.",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,RT @B_I_A_H_bbb: BBB and their words of affect...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,RT @jaoComenta_: Saudades de um bbb com ela 🤏🏻...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
96,meu deus? gente eu achei bbb era só um reality...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,RT @B_I_A_H_bbb: BBB and their words of affect...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
98,RT @B_I_A_H_bbb: BBB and their words of affect...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
99,"@tracklist Engraçado que a música, é totalment...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
texto = 'RT @danigamerrrr: vsfd bbb começar essas hora, to acordada ate agr sendo que amanhã eu trabalho e tenho aula vou me matar'

In [36]:
posicao = texto.find(':')

In [37]:
texto[16+2:]

'vsfd bbb começar essas hora, to acordada ate agr sendo que amanhã eu trabalho e tenho aula vou me matar'

In [38]:
baseView = baseBBB.drop(['texto','RT'],axis=1)

In [39]:
comentarios = baseView.sum().sort_values(ascending=False).to_list()

In [40]:
participantes = baseView.sum().sort_values(ascending=False).index.to_list()

In [41]:
base2 = pd.DataFrame(zip(participantes,comentarios))
base2.columns=['Pessoas','comentarios']
display(base2)

                        Pessoas  comentarios
0                       Ricardo           16
1                      MC Guimê           15
2                       Gabriel            8
3                   Sarah Aline            5
4                         Cezar            4
5   Antonio "Cara de Sapato" Jr            4
6                 Bruna Griphao            2
7               Gabriel Santana            2
8                          Fred            1
9                       Gustavo            0
10                      Larissa            0
11              Domitila Barros            0
12                       Amanda            0
13                 Fred Nicácio            0
14                      Marília            0
15                     Cristian            0
16                     Marvvila            0
17                        Bruno            0
18                         Tina            0
19                        Paula            0
20                    Key Alves            0

In [42]:
total_comentarios = base2['comentarios'].sum()

In [43]:
base2['perc'] = base2['comentarios']/total_comentarios
display(base2)

                        Pessoas  comentarios      perc
0                       Ricardo           16  0.280702
1                      MC Guimê           15  0.263158
2                       Gabriel            8  0.140351
3                   Sarah Aline            5  0.087719
4                         Cezar            4  0.070175
5   Antonio "Cara de Sapato" Jr            4  0.070175
6                 Bruna Griphao            2  0.035088
7               Gabriel Santana            2  0.035088
8                          Fred            1  0.017544
9                       Gustavo            0  0.000000
10                      Larissa            0  0.000000
11              Domitila Barros            0  0.000000
12                       Amanda            0  0.000000
13                 Fred Nicácio            0  0.000000
14                      Marília            0  0.000000
15                     Cristian            0  0.000000
16                     Marvvila            0  0.000000
17                        Bruno            0  0.000000
18                         Tina            0  0.000000
19                        Paula            0  0.000000
20                    Key Alves            0  0.000000

In [44]:
base2['perc_acum'] = base2['perc'].cumsum()
display(base2)

                        Pessoas  comentarios      perc  perc_acum
0                       Ricardo           16  0.280702   0.280702
1                      MC Guimê           15  0.263158   0.543860
2                       Gabriel            8  0.140351   0.684211
3                   Sarah Aline            5  0.087719   0.771930
4                         Cezar            4  0.070175   0.842105
5   Antonio "Cara de Sapato" Jr            4  0.070175   0.912281
6                 Bruna Griphao            2  0.035088   0.947368
7               Gabriel Santana            2  0.035088   0.982456
8                          Fred            1  0.017544   1.000000
9                       Gustavo            0  0.000000   1.000000
10                      Larissa            0  0.000000   1.000000
11              Domitila Barros            0  0.000000   1.000000
12                       Amanda            0  0.000000   1.000000
13                 Fred Nicácio            0  0.000000   1.000000
14                      Marília            0  0.000000   1.000000
15                     Cristian            0  0.000000   1.000000
16                     Marvvila            0  0.000000   1.000000
17                        Bruno            0  0.000000   1.000000
18                         Tina            0  0.000000   1.000000
19                        Paula            0  0.000000   1.000000
20                    Key Alves            0  0.000000   1.000000

In [45]:
base2['percen_form'] = base2['perc'].map("{:.1%}".format)
base2['percen_acum_form'] = base2['perc_acum'].map("{:.1%}".format)
display(base2)

,Pessoas,comentarios,perc,perc_acum,percen_form,percen_acum_form
0,Ricardo,16,0.280702,0.280702,28.1%,28.1%
1,MC Guimê,15,0.263158,0.543860,26.3%,54.4%
2,Gabriel,8,0.140351,0.684211,14.0%,68.4%
3,Sarah Aline,5,0.087719,0.771930,8.8%,77.2%
4,Cezar,4,0.070175,0.842105,7.0%,84.2%
5,"Antonio ""Cara de Sapato"" Jr",4,0.070175,0.912281,7.0%,91.2%
6,Bruna Griphao,2,0.035088,0.947368,3.5%,94.7%
7,Gabriel Santana,2,0.035088,0.982456,3.5%,98.2%
8,Fred,1,0.017544,1.000000,1.8%,100.0%
9,Gustavo,0,0.000000,1.000000,0.0%,100.0%
10,Larissa,0,0.000000,1.000000,0.0%,100.0%
11,Domitila Barros,0,0.000000,1.000000,0.0%,100.0%
12,Amanda,0,0.000000,1.000000,0.0%,100.0%
13,Fred Nicácio,0,0.000000,1.000000,0.0%,100.0%
14,Marília,0,0.000000,1.000000,0.0%,100.0%
15,Cristian,0,0.000000,1.000000,0.0%,100.0%
16,Marvvila,0,0.000000,1.000000,0.0%,100.0%
17,Bruno,0,0.000000,1.000000,0.0%,100.0%
18,Tina,0,0.000000,1.000000,0.0%,100.0%
19,Paula,0,0.000000,1.000000,0.0%,100.0%
20,Key Alves,0,0.000000,1.000000,0.0%,100.0%

In [46]:
display(base2[['Pessoas','comentarios','percen_form','percen_acum_form']])

                        Pessoas  comentarios percen_form percen_acum_form
0                       Ricardo           16       28.1%            28.1%
1                      MC Guimê           15       26.3%            54.4%
2                       Gabriel            8       14.0%            68.4%
3                   Sarah Aline            5        8.8%            77.2%
4                         Cezar            4        7.0%            84.2%
5   Antonio "Cara de Sapato" Jr            4        7.0%            91.2%
6                 Bruna Griphao            2        3.5%            94.7%
7               Gabriel Santana            2        3.5%            98.2%
8                          Fred            1        1.8%           100.0%
9                       Gustavo            0        0.0%           100.0%
10                      Larissa            0        0.0%           100.0%
11              Domitila Barros            0        0.0%           100.0%
12                       Amanda            0        0.0%           100.0%
13                 Fred Nicácio            0        0.0%           100.0%
14                      Marília            0        0.0%           100.0%
15                     Cristian            0        0.0%           100.0%
16                     Marvvila            0        0.0%           100.0%
17                        Bruno            0        0.0%           100.0%
18                         Tina            0        0.0%           100.0%
19                        Paula            0        0.0%           100.0%
20                    Key Alves            0        0.0%           100.0%